    .thinking-dots span {
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
    }

    .logo-mask {
    display: inline-block;
    width: 14px;
    height: 14px;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    }